@import url(https://fonts.googleapis.com/css?family=Inter:300,400,500,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
