@import url(https://fonts.googleapis.com/css?family=Inter:300,400,500,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popover-icon {
  @apply p-2 rounded hover:bg-zinc-300 dark:hover:bg-zinc-600 w-full;
}

.between-lines::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0.5rem;
  left: -6.5rem;
  @apply bg-zinc-300 dark:bg-zinc-600;
}
.between-lines::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0.5rem;
  right: -6.5rem;
  @apply bg-zinc-300 dark:bg-zinc-600;
}
